<div class="sign">
  <form action="/login" method="post" class="login">
    <label for"username"="for"username"">Username:</label>
    <input type="text" name="username" id="username" placeholder="Username">
  </br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" placeholder="Password">
</br>
</br>
<input type="submit" name="submit" id="submit" value="Log In" class="buttons">
<a href='/signup' class="buttons">Sign Up</a>
</form>
</div>
