<body style="background-color:powderblue;">

  <div>
    <form action="/signup" method="post" class="login">

      <label for="firstname">First Name:</label>
      <input type="text" name="firstname" id="firstname" placeholder="First Name">
      <br>
      <label for="lastname">Last Name:</label>
      <input type="text" name="lastname" id="lastname" placeholder="Last Name">
      <br>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" placeholder="Username">
      <br>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" placeholder="E-mail">
      <br>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" placeholder="Password">
      <br>
      <br>

      <input type="submit" value="signup" class="buttons">
    </form>
    <br>
  </div>
</body>