  <h1>
    Welcome,
    <%= current_user(session).username %></h1>
  <p>
    <h2>These cats want a lil treat!</h2>
  <br>

  <% @cats.each do |cat| %>
    <% if cat.user_id.to_i == @user_id %>
      <a href="/cats/<%= cat.id %>">
      <img src ="<%= cat.image %>" id="caticons">
      </a>

      <br>

    <% end %>
  <% end %>


<h4>
  <a href="/create" class="buttons">Adopt Another Cat!</a>
  <a href="/logout" class="buttons">Log Out</a>
</h4>
