Welcome,
<%= current_user(session).username %></h1>
<p>
<h2>These cats want a lil treat!</h2>
<br>

    <% @cats.each do |cat| %>
      <% if cat.user_id.to_i == @user_id %>

        <div class="container">
          <div class="text">
            <b><%= cat.name %></b>
          </div>
        <a href="/cats/<%= cat.id %>">

          <img src="<%= cat.image %>" class="image"></a><br><br>
          <% end %>
        <% end %>
        </div>


    <h4>
      <a href="/create" class="buttons">Adopt Another Cat!</a>
      <a href="/logout" class="buttons">Log Out</a>
    </h4>
