<h1>Add New Cat!</h1>

<form action="/create" method="POST">
  <label> Cat Name </label>
  <input type="text" name="name"> <br>

  <select class="image-picker show-html" data-limit="1">
    <option data-img-src="http://placekitten.com/220/200" value="1">Cute Kitten 1</option>
    <option data-img-src="http://placekitten.com/180/200" value="2">Cute Kitten 2</option>
    <option data-img-src="http://placekitten.com/130/200" value="3">Cute Kitten 3</option>
    <option data-img-src="http://placekitten.com/270/200" value="4">Cute Kitten 4</option>
  </select>

  <input type="submit" value="Create">
</form>
