<h1>Add New Cat!</h1>

<form action="/create" method="POST">

  <label>
    Cat Name
  </label>
  <input type="text" name="name">
  <br>

  <input type="radio" name="image" id="image1" value="https://i.ytimg.com/vi/dGFSajKuJfrI/maxresdefault.jpg"/>
  <label for="image1">
    <img src="https://i.ytimg.com/vi/dGFSajKuJfrI/maxresdefault.jpg"/>
  </label>
  <input type="radio" name="image" id="image2" value="https://i.redd.it/25s04u40uqy11.jpg"/>
  <label for="image2">
    <img src="/zlata.jpg"/>
      </label>

<br>
or enter a URL for a custom image ~
<br>
  <input type="text" name="image">
  <br>
  <br>
  <input type="submit" value="Create">

</form>
