<center>
  <br> <h2><%=@cat.name %> has been fed <%= @cat.counter %> times.<br> remember...cats can only have a lil salami! as a treat! :~)</h2>
<br>
  <img src="/images/salamisad.jpg">
  <% if @cat.counter < 10 %>
  <h1>Thamk you bröther!
    <br>
    May I hav mor salämi?
  </h1>
  <% else %>
  <h1> I can only have 10 salamis. They're a treat :~)
    <br> I'm full.
  </h1>
  <% end %>

  <a href="/cats/<%= @cat.id %>/feed" class="buttons">Giv moar treat</a>
  <a href="/cats" class="buttons">Feed another cat</a>
  <br>
  <a href="/logout" class="buttons">Logout</a>
</center>
