<center>
  <h1>Thamk you bröther!
    <br>
    May I hav mor salämi?
  </h1>
  <img src="/images/salamisad.jpg">

  <br>remember...cats can only have a lil salami! as a treat! :~)
  <br>
  <a href="/allcats" class="buttons">Feed another cat</a>
  <br>
  <a href="/logout" class="buttons">Logout</a>
</center>