<center>
<body>
  <h1>
    giv cats a lil salami...as a treat!</h1>``
  <img src="https://tinyurl.com/t99yf5z" width="500" height="420">
</body>


  <br>
  <br>

  <a href='/login' class="buttons">Sign In</a>
  <a href='/signup' class="buttons">Sign Up</a>
