<!doctype html>
<html>
  <head>
    <title>Neko Salame</title>
  </head>
<h1> Neko Salame </h1>
</html>

<div class="sign">
  <a href='/login' class="buttons">Sign In</a>
  <a href='/signup' class="buttons">Sign Up</a>
</div>
