<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
    <script>NekoType="marmalade"</script>
    <script src="/js/n20171213.js"></script>


  </head>
  <body>

    <div class="header">
          <a href='/'>Neko Salame</a>
      </div>



    <div class="wrapper">

      <% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="/#" class="close">&times;</a>
  </div>
<% end %>


      <%= yield %>
    </div>
</body>
</html>
